.section.clearfix.object-non-visible(data-animation-effect = "fadeIn")
	.container
		.row
			.col-md-12
				h1.title.text-center#about About
					= ' '
					span Monami
				p.lead.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta officia, aspernatur.
				.space
				.row
					.col-md-6
						img(src = "http://asiajute.com/wp-content/uploads/2012/10/Eco-Friendly-Jute.jpg" height = "290px" width = "555px" alt = "")
						.space
					.col-md-6
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi adipisci illo, voluptatum ipsam fuga error commodi architecto, laudantium culpa tenetur at id, beatae placeat deserunt iure quas voluptas fugit eveniet.
						
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo ducimus explicabo quibusdam temporibus deserunt doloremque pariatur ea, animi a. Delectus similique atque eligendi, enim vel reiciendis deleniti neque aliquid, sit?
						
						ul.list-unstyled
							li
								i.fa.fa-caret-right.pr-10.text-colored
								| Lorem ipsum dolor sit amet
							li
								i.fa.fa-caret-right.pr-10.text-colored
								| Reiciendis deleniti neque aliquid
							li
								i.fa.fa-caret-right.pr-10.text-colored
								| Ipsam fuga error commodi
							li
								i.fa.fa-caret-right.pr-10.text-colored
								| Lorem ipsum dolor sit amet
							li
								i.fa.fa-caret-right.pr-10.text-colored
								| Dignissimos molestiae necessitatibus