extends layout

block content
	div.navbar.navbar-inverse.navbar-fixed-top
		.container
			.navbar-header
				button.navbar-toggle.collapsed(type = "button" data-toggle="collapse" data-target= "#nvcollapse")
					span.sr-only
						Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href = "#")
					|Monami Impex


			.navbar-collapse.collapse.navbar-responsive-collapse#nvcollapse
				ul.nav.navbar-nav.navbar-right
					li 
						a(href="/") Home
					li.active
						a(href="/companyprofile"). 
							Company Profile
					li
						a(href="#").
							Photo Gallery
					li.dropdown
						a.dropdown-toggle(data-toggle="dropdown")
							|Products 
							b.caret
						ul.dropdown-menu
							li 
								a(href="#") Hessian Cloth
							li 
								a(href="#") Hessain Bag
							li 
								a(href="#") Sand Bag
							li 
								a(href="#") Jute Tape
							li 
								a(href="#") Hessain Sheet / Tobacco Sheet
							li 
								a(href="#") Geo-Jute / Soil Saver
							li 
								a(href="#") Jute Caddies
							li 
								a(href="#") Sacking
							li 
								a(href="#") Carpet Backing Cloth
							li 
								a(href="#") Jute Yarn / Twine
							li 
								a(href="#") Raw Jute
							li 
								a(href="#") Jute Rope
							li 
								a(href="#") Jute Felt
					li
						a( href = "#" data-toggle = "modal" data-target = "#sign-modal").
							Sign in

	br
	br
	br
	br

	.container.cardblock
		h2.text-center.
			Welcome to Monami Impex
		br

		p.text-justify.pblock.
			The jute plant is an annual plant that thrives best in moist soil in a hot, humid climate. Seeds are hand-sown, and plants mature in three months, often averaging a height of 10 to 12 feet (3 to 3.6 meters). Their light green leaves are arrow-shaped, and small yellow flowers bloom singly or in clusters. Jute is classified scientifically in the genus Corchorus.

		p.text-justify.pblock.
			The plants are harvested when the blossoms first begin to shed. The cut stalks are sorted according to length and gathered into bundles. They are then placed in shallow pools of stagnant water where they are allowed to ret, or ferment. When they have become soft enough, the fibers are separated from the stalks and then hung on lines to dry. After drying, the fibers are sorted, graded, and baled for export.

		p.text-justify.pblock.
			Burlap, low-grade twine, and many other products are made from jute. Because it is low-priced, adaptable, and top of that eco-friendly, jute is second only to cotton in world consumption of natural fibers. Bangladesh, India, and China are the leading producers.

		p.text-justify.pblock.
			In the environment conscious world today, the Golden Fiber has proved to be immensely popular. It is biodegradable and therefore environment friendly; so the products merge with the soil after sustained use. In turn, it enriches the soil with organic substance and helps to grow better crops. On combustion, its fumes are non- toxic and produce no residue. JRP (Jute Reinforced Plastic) is widely used to pack tea and fruits especially for its excellent ‘breathing qualities’. It effectively packs garments, cement, fertilizers and other products as well. Geo-jute has been developed to control erosion on mountain slopes, canal banks and railway sidings. It also helps vegetation to grow - naturally. Jute has also proved to be the ideal replacement of wood.
		
		p.text-justify.pblock.
			The Bangladeshi jute sector, comprising the organized jute industry and a large number of decentralized/cottage units, has now reached the stage of producing materials, which are not only durable, but also attractive from the esthetic sense. Numerous end-uses have been found for the golden fiber to meet the requirements of the connoisseurs.
		
		p.text-justify.pblock.
			Monami Impex Limited is one of the leading exporting and manufacturing company in Bangladesh. Jute is being environment friendly and natural. The world is now the Global Village under the worldwide network system. So let us start using the Jute products and make the Earth a better place for our next generation and on. We are the right place for your need of products in the right time.
		
		p.text-justify.pblock.
			We are just a "CALL" distance. You just name it, we will be there to help you with your products.

		h2.text-right.pblock.
			Syed Jahangir Hossain
		.text-right.small.pblock.
			Managing Director
		

	br
	br
	br
	br

