.footer.section
	.container
		h1.title.text-center#contact Contact Us
		.space
		.row
			.col-sm-6
				.footer-content
					p.large Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel nam magnam natus tempora cumque, aliquam deleniti voluptatibus voluptas. Repellat vel, et itaque commodi iste ab, laudantium voluptas deserunt nobis.
					ul.list-icons
						li
							i.fa.fa-map-marker.pr-10 
							|54 Motijheel C/A., Elite House, 4th Floor, Dhaka - 1000, Bangladesh
						li
							i.fa.fa-phone.pr-10
							|880-2-7170388, 880-2-9551085,880-2-3560886, 880-2-9554152
						li
							i.fa.fa-fax.pr-10
							|880-2-9560422, 880-2-8823824
						li
							i.fa.fa-envelope-o.pr-10
							|monami.jutex@gmail.com
					
					ul.social-links
						li.facebook
							a(href = "#")
								i.fa.fa-facebook
						li.twitter
							a(href = "#")
								i.fa.fa-twitter
						li.googleplus
							a(href = "#")
								i.fa.fa-google-plus
						li.skype
							a(href = "#")
								i.fa.fa-skype
						li.linkedin
							a(href = "#")
								i.fa.fa-linkedin
						li.youtube
							a(href = "#")
								i.fa.fa-youtube
						li.flickr
							a(href = "#")
								i.fa.fa-flickr
						li.pinterest
							a(href = "#")
								i.fa.fa-pinterest

			.col-sm-6
				.footer-content
					.form#footer-form(role = "form")
						.form-group.has-feedback
							label.sr-only(for = "name") Name
							input.form-control#name2(type = "text" name = "name" placeholder = "Name" required)
							i.fa.fa-user.form-control-feedback
						
						.form-group.has-feedback
							label.sr-only(for = "company") Company Name
							input.form-control#name2(type = "text" name = "company" placeholder = "Company Name" required)
							i.fa.fa-users.form-control-feedback
						
						.form-group.has-feedback
							label.sr-only(for = "phone") Company Name
							input.form-control#name2(type = "text" name = "phone" placeholder = "Phone Number" required)
							i.fa.fa-phone.form-control-feedback

						.form-group.has-feedback
							label.sr-only(for = "email") Email Address
							input.form-control#name2(type = "text" name = "email" placeholder = "Email Address" required)
							i.fa.fa-envelope.form-control-feedback

						.form-group.has-feedback
							label.sr-only(for = "subject") Subject
							input.form-control#name2(type = "text" name = "subject" placeholder = "Subject" required)
							i.fa.fa-bookmark.form-control-feedback

						.form-group.has-feedback
							label.sr-only(for = "message") Message
							textarea.form-control#message2(name = "message" placeholder = "Message" rows = "8" required)
							i.fa.fa-pencil.form-control-feedback
						
						input.btn.btn-default(type = "submit" value = "Send")
						

.subfooter
	.container
		.row
			.col-md-12
				p.text-center Copyright © 2015 by ArK