doctype html

html(lang = "en")
	head
		meta(charset = "utf-8")
		title #{title}
		meta(name = "description" content = "Monami Impex Website")
		meta(name= "author" content = "ArK")

		//  Mobile Viewport
		meta(name = "viewport" content="width=device-width, initial-scale=1.0")
		include ./head.jade

	body.no-trans
		.scrollToTop
			i.icon-up-open-big


		// header start

		include ./header.jade

		// banner start

		include ./banner.jade

		// about start

		include ./about.jade

		// let us work start

		include ./worktogether.jade





	include ./footer.jade