extends layout

block content
	div.navbar.navbar-inverse.navbar-fixed-top
		.container
			.navbar-header
				button.navbar-toggle.collapsed(type = "button" data-toggle="collapse" data-target= "#nvcollapse")
					span.sr-only
						Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href = "#")
					|Monami Impex


			.navbar-collapse.collapse.navbar-responsive-collapse#nvcollapse
				ul.nav.navbar-nav.navbar-right
					li
						a(href="/")
							i.glyphicon.glyphicon-home
								|&nbsp;Home
					li
						a(href="/companyprofile").
							Company Profile
					li
						a.dropdown-toggle(data-toggle="dropdown")
							|Photo Gallery
							b.caret
						ul.dropdown-menu
							li
								a(href="#") Our Factory
							li
								a(href="/productgallery") Our Products
					li.dropdown
						a.dropdown-toggle(data-toggle="dropdown")
							|Products
							b.caret
						ul.dropdown-menu
							li
								a(href="#") Hessian Cloth
							li
								a(href="#") Hessain Bag
							li
								a(href="#") Sand Bag
							li
								a(href="#") Jute Tape
							li
								a(href="#") Hessain Sheet / Tobacco Sheet
							li
								a(href="#") Geo-Jute / Soil Saver
							li
								a(href="#") Jute Caddies
							li
								a(href="#") Sacking
							li
								a(href="#") Carpet Backing Cloth
							li
								a(href="#") Jute Yarn / Twine
							li
								a(href="#") Raw Jute
							li
								a(href="#") Jute Rope
							li
								a(href="#") Jute Felt
					li
						a(href = "/contactus").
							Contact Us
					li
						a( href = "#" data-toggle = "modal" data-target = "#sign-modal").
							Sign in

	.container
		.modal.fade#sign-modal(tabindex="-1" role = "dialog" aria-labelledby = "signModalLabel" aria-hidden = "true")
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type="button" class="close" data-dismiss="modal").
							x
						h4.modal-title(style="color:brown").
							Sign in
					.modal-body
						form.form-horizontal
							fieldset
								.form-group
									label.col-lg-2.control-label.
										Username
									.col-lg-10
										input.form-control(type = "text" name="username" placeholder = "Username")
								.form-group
									label.col-lg-2.control-label.
										Password
									.col-lg-10
										input.form-control(type = "password" name="username" placeholder = "Password")

					.modal-footer
						button.btn.btn-primary.
							Sign in
						button.btn.btn-default(data-dismiss="modal").
							Close


		br
		br
		br
		br


	.container
		.text-center
			h2(style="color: white;").
				Our Products
		br

		#links
			.imgblock
				a(href="image/img1.jpg" title = "Image 1" data-gallery)
					img(src="image/img1.jpg" alt = "Image 1")
				h4.text-center.
					Image 1

			.imgblock
				a(href="image/img2.jpg" title = "Image 2" data-gallery)
					img(src="image/img2.jpg" alt = "Image 2")
				h4.text-center.
					Image 2

			.imgblock
				a(href="image/img1.jpg" title = "Image 3" data-gallery)
					img(src="image/img1.jpg" alt = "Image 3")
				h4.text-center.
					Image 3

			.imgblock
				a(href="image/img1.jpg" title = "Image 4" data-gallery)
					img(src="image/img1.jpg" alt = "Image 4")
				h4.text-center.
					Image 4

			.imgblock
				a(href="image/img2.jpg" title = "Image 5" data-gallery)
					img(src="image/img2.jpg" alt = "Image 5")
				h4.text-center.
					Image 5

			.imgblock
				a(href="image/img1.jpg" title = "Image 6" data-gallery)
					img(src="image/img1.jpg" alt = "Image 6")
				h4.text-center.
					Image 6

			.imgblock
				a(href="image/img1.jpg" title = "Image 7" data-gallery)
					img(src="image/img1.jpg" alt = "Image 7")
				h4.text-center.
					Image 7

			.imgblock
				a(href="image/img2.jpg" title = "Image 8" data-gallery)
					img( src="image/img2.jpg" alt = "Image 8" )
				h4.text-center.
					Image 8

			.imgblock
				a(href="image/img1.jpg" title = "Image 9" data-gallery)
					img(src="image/img1.jpg" alt = "Image 9")
				h4.text-center.
					Image 9


		.blueimp-gallery#blueimp-gallery
			.slides
			h3.title
			a.prev
			a.next
			a.close
			a.play-pause
			ol.indicator
			.modal.fade
				.modal-dialog
					.modal-content
						.modal-header
							button.close(type="button" aria-hidden="true")
								|&times;
							h4.modal-title
						.modal-body.next
						.modal-footer
							button.btn.btn-default.pull-left.prev(button="button")
								i.glyphicon.glyphicon-chevron-left
									|Previous
							button.btn.btn-primary.next
								|Next
								i.glyphicon.glyphicon-chevron-right
