body{
	background: url("/image/green-fibers.png") ;
}

.card{
	padding-top: 5px ;
	padding-bottom: 5px ;
	padding-left: 2px ;
	padding-right: 2px ;
	background-color: #f8f5f0 ;


}

.cardblock{
	background-color: #f8f5f0 ;
	padding-left: 2% ;
	padding-right: 2% ;
	padding-bottom: 5%;
}

.pblock{
	padding-left: .8% ;
	padding-right: .8% ;
	font-size: 1.25em;

}

.sidebar{
	margin-bottom: 20px;
}

#pgallery .grid-sizer { width: 120px; background-color: white; }
#pgallery .item { width: 20%; background-color: white;}
#pgallery .item.w2 { width: 40%; background-color: }

.item img , .grid-sizer img , .item.w2 img{
	max-width: 100%;
	max-height: 100%;
}


.imgblock {
	padding : 3px ;

	background-color : white ;
	float : left;
	margin: 2px ;
}

.imgblock a img{
	width : 350px ;
}
