.col-sm-6.col-md-3.isotope-item.site-building
	.image-box
		.overlay-container
			img(src = "images/portfolio-3.jpg" alt = "")
			a.overlay( data-toggle = "modal" data-target = "#project-3")
				i.fa.fa-search-plus
				span Site Building
		a.btn.btn-default.btn-block(data-toggle="modal" data-target = "#project-3") Project Title


	// modal
	.modal.fade#project-3(tabindex = "-1" role = "dialog" aria-labelledby = "project-3-label" aria-hidden = "true")
		.modal-dialog.modal-lg
			.modal-content
				.modal-header
					button.close(type = "button" data-dismiss = "modal")
						span(aria-hidden = "true") &times;
						span.sr-only Close
					h4.modal-title#project-3-label Project Title
				.modal-body
					h3 Project Description
					.row
						.col-md-6
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
							p Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
						.col-md-6
							img(src = "images/portfolio-3.jpg" alt = "")

				.modal-footer
					button.btn.btn-sm.btn-default(type = "button" data-dismiss = "modal") Close
				